@media only screen and (max-width: 750px) {

    body {
        border: 0;
        background-color: black;
        color: white;
        padding: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
        padding-top: 0;
        align-items: center;
    }

    button {
        background-color: transparent;
        border: 1px solid #C42EAC;
        color: #C42EAC;
        border-radius: 20px;
        font-family: "Yumaro";
        height: 40px;
        width: 70px;
    }

    nav {
        display: flex;
        flex-direction: row;
    }


    h3 {
        font-size: 20px;
        color: #437D5A;
        font-family: "Yumaro";
    }

    nav div {
        margin-left: auto;
        margin-right: auto;
    }

    #first {
        color: #FFD832;
        text-align: left;
        display: block;
        font-size: 20px;
    }

    hr {
        float: left;
        width: 30%;
        margin-top: -15px;
        border: 3px solid #FFD832;
    }



    #instructions p {
        float: ;
        vertical-align: middle;
    }

    .v {
        float: left;
        width: 8%;
        height: 8%;
        padding: 10px;
    }

    #stickers img {
        width: 10%;
        height: 10%;
    }
    
    #stickers {
        padding-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

    .headline img{
        width: 8%;
        float: left;
        padding: 10px;
    }
    
    .headline h1 {
        font-size: 20px;
    }
    
    .headline {
        display: inline-block;
    }
    
    .description img {
        width: 50px;
        float: left;
        padding: 10px;
    }
    
    .description {
        padding-left: 55px;
    }
    
    .description p {
        float: left;
        vertical-align: middle;
    }


    #start {
        margin-top: 10%;
        background: #233927;
        /* Old browsers */
        background: -moz-linear-gradient(top, #233927 0%, #6a9857 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #233927 0%, #6a9857 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #233927 0%, #6a9857 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#233927', endColorstr='#6a9857', GradientType=0);
        /* IE6-9 */
        border: none;
        font-family: "Yumaro";
        color: #FAD25E;
        border-radius: 15px;
        font-size: 20px;
        width: 30%;

    }

}
