@media only screen and (max-width: 750px) {

    body {
        border: 0;
        background-color: black;
        color: white;
        padding: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
        padding-top: 10%;
    }

    #map {
        width: 30%;

    }

    #menu {
        width: 30px;
    }



    h1 {
        font-family: "Yumaro";
    }


}
